@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}
@font-face {
    font-family: DinPro;
    src: url(../fonts/DINPro-Cond.otf);
}
@font-face {
    font-family: DinPro;
    src: url(../fonts/DINPro-CondMedium.otf);
    font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	font-family: "DroidSans", sans-serif;
}
body, h1, h2 {
	font-size: 13px;
}
h1 {
	margin: 0;
}
header {
	margin-top: 20px;
}

.main-background {
	background: #09223e;
}
.main-top {
	padding-bottom: 20px;
}

.logo {
	margin-bottom: 20px;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

/*CAROUSEL*/
.carousel {
	max-height: 350px;
}
.carousel .item {
	max-height: 350px;
	overflow: hidden;
}

/*NAVIGATION*/
.main-navigation {
	margin-top: -20px;
}
.navbar {
	min-height: auto;
}
.navbar-default {
	background: #fff;
}
.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: 1px 1px 1px #ccc;
}
.navbar-nav {
	margin: 0;
}
.navbar-nav li {
	box-shadow: 1px 1px 1px #ccc;
}
.navbar-collapse ul:last-child li {
	box-shadow: 1px 0px 1px #ccc;
}
.nav > li > a {
	padding: 8px 15px;
}
.navbar-default .navbar-nav > li > a:hover {
	background: #eee;
}

@media screen and (max-width: 768px) {
	.navbar-nav li {
		box-shadow: 0 0 0px;
		border-bottom: 1px solid #ddd;
	}
	.navbar-collapse {
		box-shadow: 0 0 0px;
	}
}

/*MAIN CONTENT*/
.main-content {
	margin-top: 20px;
	padding-bottom: 20px;
}
.main-content .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.main-content h1 {
	text-transform: uppercase;
	color: #444;
    font-size: 20px;
    font-family: 'DinPro';
    font-weight: 500;
    margin-bottom: 15px;
}
.wrap-content {
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	height: 300px;
	border-right: 0px;
}
.main-content .col-xs-6:last-child .wrap-content {
	border-right: 1px solid #ddd;
}
@media screen and (max-width: 992px) {
	.main-content .col-xs-6:nth-child(2) .wrap-content {
		border-right: 1px solid #ddd;
	}
}
@media screen and (max-width: 500px) {
	.main-content .col-xs-6 {
		width: 100%;
	}
	.wrap-content {
		border-right: 1px solid #ddd;
	}
}

/*FOOTER*/
footer {
	padding-top: 20px;
	padding-bottom: 40px;
}
.copyright {
	float: left;
}
.copyright a {
	color: #fff;
}
.newsletter {
	float: right;
}
.newsletter p {
	color: #fff;
}
.newsletter input, .newsletter button {
	float: left;
	padding: 4px 5px;
	border: transparent;
}
.newsletter button {
	background: #fff;
	border-left: 1px solid #09223e;
}
/*BOOTSTRAP EDITS*/
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #eee;
}